<app-header [location]="location"></app-header>
<ion-slides #slider pager="false" class="color" [options]="slideConfig" (ionSlideDidChange)="onSlideChange()">
    <ion-slide class="florida">
        <app-florida></app-florida>
    </ion-slide>
    <ion-slide class="california">
        <app-california></app-california>
    </ion-slide>
    <ion-slide class="hongkong">
        <app-hongkong></app-hongkong>
    </ion-slide>
    <ion-slide class="paris">
        <app-paris></app-paris>
    </ion-slide>
    <ion-slide class="shanghai">
        <app-shanghai></app-shanghai>
    </ion-slide>
    <ion-slide class="tokyo">
        <app-tokyo></app-tokyo>
    </ion-slide>
</ion-slides>