<div class="block-about__bg"></div>
<div class="container">
    <div class="container-inner"></div>
    <div class="wrapper">
        <app-header [location]="location"></app-header>
        <div class="inner-container">
            <h1>About Magic+</h1>
            <p class="block-about__copy">Magic+ is a Disney themed weather app by <a href="https://nathanspinetti.com">Nathan Spinetti.</a>
            Each location featured on Magic+ is home to a Disney park, from Florida all the way to Tokyo. The weather is
            brought to you by <a href="https://openweathermap.org/">OpenWeatherMap.</a> The animated weather icons are from 
            <a href="https://bas.dev/work/meteocons">Meteocons.</a> All designs and illustrations are by Nathan Spinetti. Magic+ is not 
            associated with Disney.</p>
        </div>
    </div>
</div>