    <div class="container">
        <app-background [location]="location"></app-background>
        <div class="wrapper">
            <app-header [location]="location"></app-header>
            <app-hero [location]="location"></app-hero>
            <app-hourly [location]="location"></app-hourly>
            <app-eightday [location]="location"></app-eightday>
            <div class="cols">
                <app-precip [location]="location"></app-precip>
                <app-feelslike [location]="location"></app-feelslike>
                <app-humidity [location]="location"></app-humidity>
                <app-wind [location]="location"></app-wind>
            </div>
            <!--Park stuff?-->
        </div>
    </div>