<div class="contain">
    <div class="wrap">
        <div class="block-loc">
            <a routerLink="/florida" (click)="onLinkClick(0)">
                <div class="block-loc__wrapper" [ngClass]="dateBG(dateFl) ? 'day' : 'night'">
                    <p class="block-loc__head">{{location.parkInfo.Florida.place}}</p>
                    <p class="block-loc__temp">{{florida.weather.current.temp | kelvin}}&deg;</p>
                    <img class="block-loc__castle" src="{{location.parkInfo.Florida.castle}}">
                    <div class="block-loc__sky" [ngClass]="dateBG(dateFl) ? 'day' : 'night'">
                    </div>
                </div>
            </a>

            <a routerLink="/california" (click)="onLinkClick(1)">
                <div class="block-loc__wrapper" [ngClass]="dateBG(dateCa) ? 'day' : 'night'">
                    <p class="block-loc__head">{{location.parkInfo.California.place}}</p>
                    <p class="block-loc__temp">{{california.weather.current.temp | kelvin}}&deg;</p>
                    <img class="block-loc__castle" src="{{location.parkInfo.California.castle}}">
                    <div class="block-loc__sky" [ngClass]="dateBG(dateCa) ? 'day' : 'night'">
                    </div>
                </div>
            </a>

            <a routerLink="/hong-kong" (click)="onLinkClick(2)">
                <div class="block-loc__wrapper" [ngClass]="dateBG(dateHK) ? 'day' : 'night'">
                    <p class="block-loc__head">{{location.parkInfo.HongKong.place}}</p>
                    <p class="block-loc__temp">{{hongkong.weather.current.temp | kelvin}}&deg;</p>
                    <img class="block-loc__castle" src="{{location.parkInfo.HongKong.castle}}">
                    <div class="block-loc__sky" [ngClass]="dateBG(dateHK) ? 'day' : 'night'">
                    </div>
                </div>
            </a>

            <a routerLink="/paris" (click)="onLinkClick(3)">
                <div class="block-loc__wrapper" [ngClass]="dateBG(datePa) ? 'day' : 'night'">
                    <p class="block-loc__head">{{location.parkInfo.Paris.place}}</p>
                    <p class="block-loc__temp">{{paris.weather.current.temp | kelvin}}&deg;</p>
                    <img class="block-loc__castle" src="{{location.parkInfo.Paris.castle}}">
                    <div class="block-loc__sky" [ngClass]="dateBG(datePa) ? 'day' : 'night'">
                    </div>
                </div>
            </a>

            <a routerLink="/shanghai" (click)="onLinkClick(4)">
                <div class="block-loc__wrapper" [ngClass]="dateBG(dateSh) ? 'day' : 'night'">
                    <p class="block-loc__head">{{location.parkInfo.Shanghai.place}}</p>
                    <p class="block-loc__temp">{{shanghai.weather.current.temp | kelvin}}&deg;</p>
                    <img class="block-loc__castle" src="{{location.parkInfo.Shanghai.castle}}">
                    <div class="block-loc__sky" [ngClass]="dateBG(dateSh) ? 'day' : 'night'">
                    </div>
                </div>
            </a>

            <a routerLink="/tokyo" (click)="onLinkClick(5)">
                <div class="block-loc__wrapper" [ngClass]="dateBG(dateTk) ? 'day' : 'night'">
                    <p class="block-loc__head">{{location.parkInfo.Tokyo.place}}</p>
                    <p class="block-loc__temp">{{tokyo.weather.current.temp | kelvin}}&deg;</p>
                    <img class="block-loc__castle" src="{{location.parkInfo.Tokyo.castle}}">
                    <div class="block-loc__sky" [ngClass]="dateBG(dateTk) ? 'day' : 'night'">
                    </div>
                </div>
            </a>

        </div>
        <a routerLink="/">
            <div class="block-loc__logo-con"><img class="block-loc__logo" src="{{location.parkInfo.logo}}"></div>
        </a>
    </div>
</div>