.wrap {
    margin: auto;
    width: 90%;
    max-width: 500px;
}

.contain {
    width: 100vw;
    background: #394659;
}

.block-loc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25rem;
    padding: 3rem 0;

    a {
        text-decoration: none;
    }
    &__wrapper {
        border-radius: 30px;
        padding: 1.25rem;
        overflow: hidden;
        position: relative;
        height: 175px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    
            &.day {
                background: linear-gradient(0deg,  #8956C2, #8A56C2, #4898F1);
            }
            &.night {
                background: linear-gradient(0deg,  #2C3846, #7B65CD);
            }
        
    }

    &__head {
        line-height: 1;
        text-align: left;
        color: #fff;
        margin-top: 0;
        font-size: 17px;
        display: flex;
        font-weight: 600;

        &-inner {
            padding-left: 4px;
            margin: 0;
            font-weight: 600;
            padding-top: 1px;
        }
    }

    &__sky {
        height: 150px;
        width: 150px;
        position: absolute;
        top: 86px;
        right: -31px;
        border-radius: 100%;
        z-index: 0;

        &.day {
            box-shadow: 0 0 100px rgb(249 209 52 / 40%), inset 0 0 20px #f1a31e;
            background: linear-gradient(45deg, #EF9919, #FCDC39);
        }
        &.night {
            box-shadow: 0 0 100px rgb(217 215 209 / 40%), inset 0 0 20px #727272;
            background: linear-gradient(45deg, #CDCBC9, #E3E1D7);
        }
    }

    &__castle {
        position: absolute;
        right: -13px;
        width: 115px;
        top: 25px;
        z-index: 1;
    }

    &__logo {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 3rem;

        &-con {
            width: 100%;
            display: grid;
        }
    }

    &__temp {
        line-height: 1;
        color: #fff;
        margin-top: 0;
        font-size: 30px;
        font-weight: 600;
    }
}